<nav class="hero__nav">
  <div class="hero__nav-container">
    <!-- Logo-Block mit Klick-Funktion -->
    <a (click)="onLogoClick()" class="hero__nav-logo-link">
      <div class="hero__nav-logo-block">
        <img src="./assets/logoBlack.webp" alt="Logo" class="hero__nav-logo-img" />
        <div class="hero__nav-logo-text">
          <span class="name-anta">M.Schmitz</span>
          <span class="dev-josefin">developer</span>
        </div>
      </div>
    </a>

    <ul class="hero__nav-links">
      <li>
        <a (click)="navigateToSection('why-me')" class="nav-link">{{ t.whyMe }}</a>
      </li>
      <li>
        <a (click)="navigateToSection('skills')" class="nav-link">{{ t.skills }}</a>
      </li>
      <li>
        <a (click)="navigateToSection('projects')" class="nav-link">{{ t.projects }}</a>
      </li>
      <li>
        <a (click)="navigateToSection('contact')" class="nav-link">{{ t.contact }}</a>
      </li>
    </ul>

    <div class="hero__nav-lang">
      <button type="button" class="lang-btn" (click)="onToggleLanguage()">
        <img
          [src]="currentLang === 'de' ? './assets/active-DE.png' : './assets/active-EN.png'"
          [alt]="currentLang.toUpperCase()"
          class="lang-img"
        />
      </button>
    </div>
  </div>
</nav>